body {
    background-color: cyan;
}

h1 {
    color: chocolate;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    border: 1mm ridge red;
    text-align-last: justify;
    display: table;
    margin: left;
}